.list {
  composes: mb-10 pl-8 from global;
  display: grid;
  gap: 10px;
  position: relative;
}

.listOther {
  display: grid;
  gap: 10px;
  max-height: 464px;
  overflow: auto;
  scrollbar-width: thin;
}

.listFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sum {
  composes: text text_type_digits-medium mr-10 from global;
  display: flex;
  gap: 8px;

  svg {
    width: 36px;
    height: 36px;
  }
}

.noIngredient {
  composes: constructor-element from global;
  display: flex;
  align-items: center;
  justify-content: center;

  &BunTop{
    composes: constructor-element_pos_top from global;
  }

  &BunBottom  {
    composes: constructor-element_pos_bottom from global;
  }
}