.loadText{
  composes: text text_type_main-medium mt-10 from global;
  text-align: center;
}

.orderNumber {
  composes: text text_type_digits-default mb-10 from global;
  text-align: center;
}

.orderName {
  composes: text text_type_main-medium mb-3 from global;
}

.orderStatus {
  composes: text text_type_main-default mb-15 from global;
  color: #00cccc;

  &::first-letter {
    text-transform: uppercase;
  }
}

.orderTitle {
  composes: text text_type_main-medium mb-6 from global;
}

.orderIngredient {
  composes: mb-4 from global;
  display: flex;
  justify-content: space-between;
}

.oderIngredientImageWrap {
  composes: mr-4 from global;
  width: 64px;
  height: 64px;
  background: linear-gradient(#000 0 0) padding-box, linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%) border-box;
  border: 2px solid transparent;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    width: 112px;
  }
}

.orderIngredientWrap {
  display: flex;
  align-items: center;
}

.orderSum {
  composes: text text_type_digits-default from global;
  gap: 8px;
  display: flex;
  align-items: center;
}

.orderIngredientName {
  composes: text text_type_main-default from global;
  max-width: 320px;
}

.orderIngredientsList {
  composes: mb-10 pr-6 from global;
  overflow: hidden auto;
  scrollbar-width: thin;
  max-height: 340px;
}

.orderFooter {
  display: flex;
  justify-content: space-between;
}

.orderTime {
  composes: text text_type_main-default text_color_inactive from global;
}