.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  composes: container from global;

  @media (max-width: 1279px) {
    grid-template-columns: unset;
    max-width: 600px;
  }
}

.burgerIngredients {
  composes: ml-4 mr-10 mt-10 from global;
}

.burgerConstructor {
  composes: mr-4 pl-4 mt-25 from global;
}