.header {
  composes: pt-4 pb-4 from global;
  background: var(--background);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}

.logo {
  margin-left: 112px;
}

.container{
  composes: container from global;
  display: flex;
  align-items: center;
}

.link {
  composes: text text_type_main-default pr-5 pl-5 pt-4 pb-4 from global;

  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-inactive-color);

  &Active {
    color: var(--text-primary-color);
  }

  &:last-child{
    margin-left: auto;
  }

  &:hover {
    color: var(--text-primary-color);

    svg {
      fill: var(--text-primary-color);
    }
  }
}